<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>iweb-cache</title>

	<link href=https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css rel=stylesheet>
	<style>
		#app {
			padding: 20px;
		}

		.input-group {
			padding: 10px 0;
		}

		.log-content{
			border:1px solid #eee;
		}
		.log-content header{
			border-bottom: 1px solid #eee;
			justify-content: space-between;
			padding: 10px 20px;
			display: flex;
		}
		.log-content header div:last-child{
			cursor: pointer;
		}
		.log-content pre{
			padding: 15px 20px;
		}
	</style>
</head>

<body>
	<div id="app">

		<div v-for="(item,index) in inputList" :key="item.name">
			{{ item.name }}
			<div class="input-group">
				<input
					type="text"
					class="form-control"
					v-for="it in item.input"
					:key="it.placeholder"
					v-model="it.value"
					:placeholder="it.placeholder"
					style="margin-right:10px"
				>
				<span class="input-group-btn">
					<button
						v-for="it in item.buttons"
						:key="it.name"
						type="button"
						class="btn btn-primary"
						style="margin-right:10px"
						@click="it.click(item)"
					>{{it.name}}</button>
				</span>
			</div>
		</div>

		<hr>
		<div class="log-content">
			<header>
				<div>输出面板</div>
				<div @click="logStr=''">清空内容</div>
			</header>
			<pre >{{ logStr }}</pre>
		</div>

	</div>
</body>
<script src=https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js></script>
<script src="../dist/index.umd.js"></script>

<script>
    const $cache = window.iwebCache();

	const log = (text)=> app.logStr += text + '\n';

	const inputList = [{
		name:'设置缓存数据',
		input:[{
			placeholder:'请输入key',
			value:'',
		},{
			placeholder:'请输入value',
			value:'',
		},{
			placeholder:'请输入失效时间（单位毫秒），不穿则不失效',
			value:'',
		}],
		buttons:[{
			name:'保存',
			click({ input:[key,value,tt] }){
				$cache.save(key.value,value.value,Number(tt.value));
				log('操作成功')
			}
		},{
			name:'根据KEY读取缓存',
			click({ input:[key,value,tt] }){
				let data = $cache.get(key.value);
				if(data) {
					log( `读取数据,key:${key.value},value:${data}` )
				}else{
					log( `没有读取到数据,key:${key.value}` )
				}
			}
		}]
	},{
		name:'覆盖值，不更新原本的过期时间',
		input:[{
			placeholder:'请输入key',
			value:'',
		},{
			placeholder:'请输入value',
			value:'',
		}],
		buttons:[{
			name:'更新',
			click({ input:[key,value,tt] }){
				$cache.cover(key.value,value.value);
				log('操作成功')
			}
		}]
	},{
		name:'读取多个缓存数据',
		input:[{
			placeholder:'请输入key，多个以逗号分割',
			value:'name,token',
		}],
		buttons:[{
			name:'查询',
			click({ input:[{value}] }){
				let [ name,token ] = $cache.getAll(...value.split(','))
				log(`获取多条数据,name:${name},token:${token}`)
			}
		}]
	},{
		name:'其他功能',
		buttons:[{
			name:'获取缓存大小',
			click(){
				log($cache.getCacheSize())
				// let [ name,token ] = $cache.getAll(...value.split(','))
				// log(`获取多条数据,name:${name},token:${token}`)
			}
		}]
	}]


	const app = new Vue({
		el:'#app',
		data(){
			return {
				logStr:'',
				inputList
			};
		},
	})


	// 覆盖

</script>

</html>